@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.nextpage {
    display: flex;
    justify-content: center;
}
#aboutmetitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin: 3%;
}
#AboutMe{
    display: flex;
    gap: 5em;
}

#selfiefritz {
    height: 325px;
    width: 325px;
    border-radius: 160px;
}

.description {
    margin-top:2% ;
}
#name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #13858C;
    margin: 1px;
}

#course {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: black;
    width: 200px;
    text-align: left;
    margin-right: 25px;
}

#introduction {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: black;
    text-align: left;
    margin-right: 25px;
}
#thirdpage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#hobbiestitle {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-top: 10%;
}
.pichobbies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12%;
}
#guitarPic {
    height: 150px;
    width: 225px;
}

#htmlPic {
    height: 150px;
    width: 150px;
    margin-right: 40%;
    margin-left: 40%;
}

#gamerPic{
    height: 168.75px;
    width: 225px;
}

.tag {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

#hobbiesdescription {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

#code {
    
}

#playguitar {
    
}

#game  {
   

}